In [266]:
def htable(nbuckets): 
    # nbuckets indicates the number of buckets we want in our hashtable
    
    return [[] for i in range(nbuckets)] 
    # returns empty hashtable with desired number of buckets

In [267]:
htable(10)

[[], [], [], [], [], [], [], [], [], []]

In [268]:
def hashcode(o):
    
    if type(o) == int:
        return o # hashcode for an integer is the integer itself
    if type(o) == str:
        h = 0
        for c in o:
            h = h*31 + ord(c) # sum of character unicode values
        return h
    return # return no hashcode for types other than integers and strings

In [269]:
hashcode(42)

42

In [270]:
hashcode("Michael Ruddy")

63401902953007148893

In [271]:
def htable_put(table, key, value):
    """
    Process is similar to adding a key-value pair to a dictionary.
    The type(value) can be anything.
    """

    bucket = table[hashcode(key) % len(table)]
    # find the appropriate bucket for our key in our hashtable

    if bucket:
        for association in bucket:
            if association[0] == key:
                bucket.remove(association) 
                # if key is already present, remove key-value pair
                break
    bucket.append((key, value)) 
    # add new or updated key-value pair to hashtable

In [272]:
table = htable(5)
htable_put(table, "a", "123")
htable_put(table, "b", "4")
htable_put(table, "g", ("tuple", "tuple2"))

In [273]:
def htable_get(table, key):
    
    bucket = table[hashcode(key) % len(table)] 
    # find the appropriate bucket for our key in our hashtable

    for association in bucket:
        if association[0] == key:
            return association[1] # return the associated value for input key
    return # returns None if key is not found in hashtable

In [274]:
htable_get(table, "a")

'123'

In [275]:
htable_get(table, "b")

'4'

In [276]:
htable_get(table, "g")

('tuple', 'tuple2')

In [277]:
# if we add new values for existing keys, they will replace the original values
htable_put(table, "a", "apple")
htable_put(table, "b", "xyz")
htable_put(table, "g", ["list", "of", "words"])

In [278]:
htable_get(table, "a")

'apple'

In [279]:
htable_get(table, "b")

'xyz'

In [280]:
htable_get(table, "g")

['list', 'of', 'words']

In [281]:
def htable_buckets_str(table):
    bucket_str_list = []

    for i in range(len(table)):
        # loop through buckets
        bucket_key_values = []
        for association in table[i]:
            # add non-null key-value pairs
            if association and association[0] and association[1]:
                bucket_key_values.append(str(association[0]) + ':' + str(association[1]))
                # concatenate string for current bucket
        bucket_str_list.append('000' + str(i) + '->' + ', '.join(bucket_key_values))
        # concatenate all bucket strings togher
    return '\n'.join(bucket_str_list) + '\n'

In [282]:
print(htable_buckets_str(table))

0000->
0001->
0002->a:apple
0003->b:xyz, g:['list', 'of', 'words']
0004->

In [283]:
import numpy as np
n = 5_000
A = list(np.random.randint(low=0,high=1_000_000,size=n))
A[0:10]

[585063, 246925, 756252, 284156, 443584, 586361, 947136, 128507, 290185, 8693]

In [284]:
# basic linear search function
def lsearch(a,x):
    for a in A:
        if a == x:
            return True
    return False

In [285]:
%time lsearch(A, 999)

CPU times: user 568 µs, sys: 0 ns, total: 568 µs
Wall time: 570 µs

False

In [286]:
%time for a in range(50): lsearch(A, a)

CPU times: user 27.1 ms, sys: 571 µs, total: 27.7 ms
Wall time: 27.2 ms

In [299]:
table = htable(4000)
for a in A:
    htable_put(table, int(a), 'value')

print('\n'.join(htable_buckets_str(table).split('\n')[:10]))

0000->108000:value, 48000:value
0001->32001:value
0002->
0003->
0004->
0005->192005:value, 496005:value
0006->
0007->588007:value, 476007:value
0008->176008:value, 840008:value, 504008:value
0009->

In [291]:
%time htable_get(table, 999)

CPU times: user 18 µs, sys: 37 µs, total: 55 µs
Wall time: 60.3 µs

In [294]:
%time for a in range(50): htable_get(table, a)

CPU times: user 100 µs, sys: 1 µs, total: 101 µs
Wall time: 105 µs